/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

/* Main style */
html, body {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}


/* Size */
.fill {
    height: 100vh;
    width: 100vw;

    background-image: url('../images/icelandbg.jpg');
    background-size: cover;
    background-position: center;
}


/* Flex */
.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-flow: column nowrap;
}

/* API Modal */
.modalBack {
    background: #00000080;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 40%;
    height: auto;
    background: #fefefe;
    box-sizing: border-box;
    padding: 1.5rem;
}

.modal > input {
    background: #fcfcfc;
    border: none;
    border-bottom: 1px solid #1b1b1b;
    font-family: "Quicksand", sans-serif;
}

.button {
    background-color: #228ef3;
    color: #fefefe;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

.button:hover {
    background-color: #57a8f3;
}

/* Top bar */
.topBar {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    padding: 0 1rem;

    color: #fefefe;
}

.topBar > * {
    margin: 0 0.5rem;
}

.weather {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather > img {
    height: 80%;
}

.lightIcon {
    color: #fefefe30;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.lightIcon:hover {
    color: inherit;
    transition: all 100ms ease-in-out;
}

/* Footer */
.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    color: #ffffff80;
    padding: 0.2rem 0;
}

.footer > * {
    margin: 0 0.5rem;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer a:hover {
    color: hsl(200, 84%,56%);
}

/* Search bar */
.searchContainer {
    width: 25%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;

    border-radius: 1rem;
    padding: 0 0.2rem;
    overflow: hidden;
    box-shadow: 0 3px 6px #00000030;

    transition: all 200ms ease-in-out;
}

.--closed {
    width: 1.6rem;
    justify-content: center;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
}

.--closed > .searchBar {
    width: 0;
    transition: all 300ms ease-in-out;
}

.searchLogo {
    height: 1.8rem;
    width: 1.8rem;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
.searchLogo > img {
    height: 100%;
}

.searchBar {
    width: 90%;
}

.searchBar input {
    width: 100%;
    border: none;
    font-family: "Quicksand", sans-serif;
}

/* Card Container */
.cardContainer {
    width: 50%;
    height: auto;
    columns: 2;
    margin-top: 2rem;
}

/* Card */
.card {
    border-radius: 4px;
    box-shadow: 0 3px 6px #00000030;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: auto;
    transition: all 100ms ease-in-out;
    background: #ffffffee;
    margin: 1rem 0;
    box-sizing: border-box;
    padding: 0 0.5rem;
    cursor: pointer;
    text-decoration: none;
    color: #1b1b1b;
}

.card:first-child {
    margin-top: 0;
}

.card:hover, .--closed:hover {
    box-shadow: 0 4px 8px #00000030;
    transform: scale(1.02);
    transition: all 100ms ease-in-out;
}

.cardImage {
    height: auto;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardImage > i {
    font-size: 2.5rem;
}

.cardContent {
    width: 80%;
    height: 100%;
}

.cardContent > h2, p {
    margin: 0.5rem 0;
}

/* Card icon colors */
.reddit > i {
background: -webkit-linear-gradient(hsl(25, 83%,47%), hsl(0, 83%, 47%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.social > i {
    background: -webkit-linear-gradient(hsl(200, 84%,56%), hsl(221, 44%, 42%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent 
}

.generic > i {
    background: -webkit-linear-gradient(hsl(82, 56%, 51%), hsl(173, 100%, 35%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent   
}

.code > i {
    background: -webkit-linear-gradient(hsl(198, 39%, 28%), hsl(195, 35%, 19%), hsl(198, 44%, 11%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent   

}

.--hidden {
    display: none;
}